@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black-night: #1a1a1a;
  --black-zet: #0a0a0a;
  --gray-coll: #adb5bd;
  --gray-light: #dee2e6;
  --primary-color: #0a0a0a;
  --interaction-color: #1a1a1a;
  --bg-header-color: #1a1a1a;
  --bg-footer-color: #1a1a1a;
  --bg-nav-color: #0a0a0a;
  --bg-table-header-color: #1a1a1a;
  --bg-table-border-color: #adb5bd;
  --header-height: 52px;
  --footer-height: 28px;
  --nav-width: 220px;
  --text-color: #0a0a0a;
  --btn-main-color: #333333;
  --btn-sub-color: #555555;
  --btn-link-color: #336aea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  color: var(--text-color);
  font-family: "Noto Sans KR", sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--bg-table-header-color);
  color: white;
  text-align: center !important;
  padding: 8px 0px 8px 0px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

td {
  text-align: center;
  color: #333;
  padding: 8px 0px 8px 0px;
  background-color: white;
  border-bottom: 1px solid var(--bg-table-border-color) !important;
}

.btn-main {
  background-color: var(--btn-main-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-main:hover {
  background-color: #444444;
}
.btn-main:disabled {
  background-color: #888888;
  cursor: not-allowed;
}

.btn-sub {
  background-color: var(--btn-sub-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-sub:hover {
  background-color: #666666;
}
.btn-sub:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

.btn-link {
  background-color: transparent;
  color: var(--btn-link-color);
  text-decoration: none;
  font-weight: bold;
}
.btn-link:hover {
  text-decoration: none;
  color: #2980b9;
}

.btn-txt {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color: #595959;

  font-size: 0.9rem;
}

.btn-txt:hover {
  color: #aaaaaa;
}

input {
  display: block;
  height: 38%px;
  padding: 0.47rem 0.75rem;
  font-size: 0.9rem;
  color: #3c4043;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dadce0;
  border-radius: 0.2rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);

  &::placeholder {
    color: #adb5bd;
    opacity: 1;
  }

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #bbb white; /* Firefox */
  padding-top: 2px;
  padding-bottom: 12px;
}
